<div *ngIf="user.typeUser === 'admin'" class="gridcontainer">
    <div>
        <mat-form-field  class="gridcontainer__selector" >
            <mat-label>Segmento</mat-label>
            <mat-select class="regular-16" [formControl]="segments" multiple (selectionChange)="onSelectionChangeSegments()">
                <mat-option *ngFor="let segment of segmentsList" [value]="segment.ClusterId">{{segment.Name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
         <mat-form-field class="gridcontainer__selector">
            <mat-label>Regional</mat-label>
            <mat-select  class="regular-16" [formControl]="regionals" multiple (selectionChange)="onSelectionChangeSegments('regional')">
                <mat-option *ngFor="let regional of regionalsList" [value]="regional.RegionalId">{{regional.Name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
         <mat-form-field class="gridcontainer__selector">
            <mat-label>Agencia</mat-label>
            <mat-select class="regular-16" [formControl]="agencies" multiple (selectionChange)="onSelectionChangeSegments()">
                <mat-option *ngFor="let agency of agenciesList" [value]="agency.AgencyId">{{agency.Name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
         <mat-form-field class="gridcontainer__selector">
            <mat-label>Rol</mat-label>
            <mat-select class="regular-16" [formControl]="rols" multiple (selectionChange)="onSelectionChangeSegments()">
                <mat-option *ngFor="let rol of rolsList" [value]="rol.idFilter">{{rol.nameFilter}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>